@charset "UTF-8";

* {
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(45deg, #218380, #73D2DE, #8F2D56, #D81159, #FFBC42);
    background-attachment: fixed;
}

main {
    background-color: #d6fefff0;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 2px 2px 5px #9cb7b8f0;
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: #218380;
    text-shadow: 1px 1px 25px #1d7270;
}

h2 {
    text-align: left;
    color: #8F2D56;
}


p {
    text-align: justify;
    color: #114240;
    background-color: ;
}
